pipeline/GetTableListAndTriggerCopyData.json
{
	"name": "GetTableListAndTriggerCopyData",
	"properties": {
		"activities": [
			{
				"name": "LookupTableNames",
				"description": "Retrieve the table list from my database",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'SalesLT' and TABLE_NAME <> 'ProductModel'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlDatabaseDataset",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "default",
							"dbSchema": "default"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute IterateAndCopySQLTables",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LookupTableNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "IterateAndCopySQLTable",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"tableList": {
							"value": "@activity('LookupTableNames').output.value",
							"type": "Expression"
						},
						"raw_container": "raw"
					}
				}
			}
		],
		"annotations": []
	}
}